<app-header class="ion-text-center" title="Perfil" color="light"></app-header>

<ion-content class="ion-padding" [fullscreen]="true">

  <div class="container">
    <div style="text-align: center;">
      <ion-avatar>
        <img [src]="profileImageUrl || 'https://ionicframework.com/docs/img/demos/avatar.svg'" alt="Foto de perfil" />
      </ion-avatar>
      <input type="file" hidden #fileInput (change)="onImageSelected($event)" accept="image/*" />
    </div>
  </div>

  <div class="userinfo-container">
    <ion-item > Usuario: {{ nombreusuario }}</ion-item>
    <ion-item> Email: {{ email }}</ion-item>
  </div>

  <div class="button-container">
    <ion-button color="primary" (click)="onFileInputClick()">Cambiar Foto</ion-button>
    <ion-button color="danger" (click)="performLogout()"> Cerrar Sesión </ion-button>
  </div>


</ion-content>