<app-header title="Agregar nueva tarea" class="ion-text-center" backButton="true"></app-header>

<ion-content class="ion-padding">
  <form [formGroup]="noteForm">
    <ion-item>
      <ion-input formControlName="task_name" label="Tarea" placeholder="Nombre de la tarea"></ion-input>
    </ion-item>

    <ion-item>
      <ion-textarea formControlName="task_desc" rows="5" placeholder="Descripción de tarea"></ion-textarea>
    </ion-item>

    <ion-list>
      <ion-item button class="date-button" id="open-modal2">
        <ion-icon name="calendar-outline" slot="start"></ion-icon>
        <ion-label>{{ dateExample | date }}</ion-label>
      </ion-item>
      <ion-modal trigger="open-modal2" [cssClass]="'center'">
        <ng-template>
          <!-- Utiliza formControlName en lugar de ngModel -->
          <ion-datetime formControlName="task_date" presentation="date" size="cover"
            cancel-text="Cancelar" done-text="Aceptar" [showDefaultButtons]="true"></ion-datetime>
        </ng-template>
      </ion-modal>
    </ion-list>

    <!-- Botón para capturar ubicación -->
    <ion-item>
      <ion-label>Ubicación:</ion-label>
      <ion-button expand="block" (click)="captureLocation()">
        Capturar ubicación
      </ion-button>
    </ion-item>

    <!-- Mostrar ubicación -->
    <ion-item *ngIf="location">
      <ion-label>
        {{ location.latitude }}, {{ location.longitude }}
      </ion-label>
    </ion-item>

    <!-- Botón para guardar -->
    <h1 (click)="addNote()">Guardar</h1>
  </form>
</ion-content>
