ion-content {
    display: flex;
    justify-content: center; /* Centra verticalmente si necesitas */
    align-items: center; /* Centra horizontalmente */
  }
  
  .logo-container {
    position: fixed;
    top: 20px; /* Ajusta según el diseño */

    text-align: center;
  }
  
  .logo {
    max-width: 200px; /* Ajusta el tamaño máximo */
    width: 50%; /* Escala en relación al ancho de la pantalla */
    height: auto; /* Mantiene la proporción de la imagen */
    object-fit: contain;
  }
  

  .content-container {
    display: flex;
    position: fixed;
    flex-direction: column;
    justify-content: flex-end; /* Asegura que los botones estén en la parte inferior */
    width: 100%;
    padding: 32px; /* Espacio a los lados */
    gap: 16px; /* Espacio entre input-container y button-container */
    height: 100%; /* Asegura que el contenedor ocupe todo el espacio disponible */
  }
  
  .texto{ 
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
  
  }
  
  .texto.color-registro{
    color: #6E85E3;
  }
  
  ion-item{
    margin-bottom: 10px;
  }
  