<app-header color="light" title="Etiquetas" class="ion-text-center"></app-header>


<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item> 
      <ion-label>Casa</ion-label>
      <ion-button slot="end" fill="clear" (click)="seleccionarEtiqueta('Casa')">
        <ion-icon name="create-outline"></ion-icon>
      </ion-button>
    </ion-item>
    <ion-item> 
      <ion-label>Estudio</ion-label>
      <ion-button slot="end" fill="clear" (click)="seleccionarEtiqueta('Estudio')">
        <ion-icon name="create-outline"></ion-icon>
      </ion-button>
    </ion-item>
    <ion-item> 
      <ion-label>Ocio</ion-label>
      <ion-button slot="end" fill="clear" (click)="seleccionarEtiqueta('Ocio')">
        <ion-icon name="create-outline"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>
