<ion-header>
  <ion-toolbar>
    <ion-title> Home </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div> Bienvenido Usuario,
    Hoy es {{ date }}</div>

  <ion-card>
    <ion-card-header>
      <ion-card-title>¿Que haremos hoy?</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let note of notes">
          <ion-label>
            <h2>{{ note.task_name }}</h2>
            <p>{{ note.task_desc }}</p>
            <p>{{ note.task_date }}</p>
          </ion-label>
          <ion-checkbox slot="end" [checked]="note.task_status === 2"
            (ionChange)="modifyTaskStatus(note)"></ion-checkbox>
          <ion-buttons slot="end">
            <ion-button (click)="editTask(note)">
              <ion-icon name="create-outline" aria-label="Edit note"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-item>
        <ion-item *ngIf="notes.length === 0">
          <ion-label>¡Has completado todo! Hora de tomarse un descanso. <ion-button (click)="refrescar()">Refrescar</ion-button></ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <div id="limo"><img src="assets/slime (1).gif" alt="Limo-Saltarín"></div>
  <div class="green-background"></div>

</ion-content>